<form class="devotions {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div class="devotions">
            <table>
                <tr>
                    <td>{{localize "earthdawn.a.attribute"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        {{> "systems/earthdawn4e/templates/items/partials/attribute-options.hbs"}}
                    </td>
                    <td>{{localize "earthdawn.a.action"}}</td>
                    <td class="padding-left-6">
                        <select name="system.action" class="inherent-width" type="text" value="{{item.system.action}}" data-dtype="String">
                            {{#select item.system.action}}>
                            <option value="Standard">{{localize "earthdawn.a.actionStandard"}}</option>
                            <option value="Simple">{{localize "earthdawn.a.actionSimple"}}</option>
                            <option value="Free">{{localize "earthdawn.a.actionFree"}}</option>
                            <option value="Sustained">{{localize "earthdawn.a.actionSustained"}}</option>
                            {{/select}} 
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>{{localize "earthdawn.r.ranks"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <input name="system.ranks" type="text" value="{{item.system.ranks}}" data-dtype="Number"/>
                    </td>
                    <td class="padding-right-6">{{localize "earthdawn.s.strain"}}</td>
                    <td class="padding-left-6">
                        <input name="system.strain"  type="number" value="{{item.system.strain}}" data-dtype="Number"/>
                    </td>
                </tr>
                 {{#if (eq owner true)}}
                <tr>
                    <td>{{localize "earthdawn.d.devotionRequired"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <select name="system.devotionRequired" class="inherent-width" value="{{item.system.devotionRequired}}">
                            {{#select item.system.devotionRequired}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                            {{/select}}
                        </select>
                    </td>
                    <td class="padding-right-6">{{localize "earthdawn.f.favorite"}}?</td>
                    <td class="padding-left-6">
                        <select name="system.favorite" class="inherent-width" value="{{item.system.favorite}}">
                            {{#select item.system.favorite}}
                            <option value="false">{{localize "earthdawn.n.no"}}</option>
                            <option value="true">{{localize "earthdawn.y.yes"}}</option>
                            {{/select}}
                        </select>
                    </td>
                </tr>
                {{/if}}
                <tr>
                    <td>{{localize "earthdawn.t.tier"}}</td>
                    <td class="padding-left-6 padding-right-6">
                        <select name="system.tier" class="inherent-width" type="text" value="{{item.system.tier}}" data-dtype="String"
                            {{#select item.system.tier}}>
                            <option value="Novice">{{localize "earthdawn.t.tierNovice"}}</option>
                            <option value="Journeyman">{{localize "earthdawn.t.tierJourneyman"}}</option>
                            <option value="Warden">{{localize "earthdawn.t.tierWarden"}}</option>
                            {{/select}} 
                        </select>
                    </td>
                    <td class="padding-right-6"></td>
                    <td class="padding-left-6"></td>
                </tr>
            </table>        
        </div>
        <!-- navigator -->
        <div class="static">
            <!-- Navigator -->
            <hr class="line-simple">
                <div class="spell-nav">
                    <nav class="tabs centered" data-group="primary">
                        <a data-tab="information">{{localize "earthdawn.d.description"}}</a>
                        <a data-tab="effects">{{localize "earthdawn.e.effects"}}</a>
                    </nav>
                </div>
            <hr class="line-simple">
            <!-- Sheet Body -->
            <div class="sheet-body">
                <!-- Description -->
                <div class="tab" data-group="primary" data-tab="information">
                    <div class="fixedHeight">
                        {{> "systems/earthdawn4e/templates/items/partials/item-description-tab.hbs"}}
                    </div>
                </div>
               <!-- effects -->
                <div class="tab tab-effects" data-group="primary" data-tab="effects">
                    <div>{{> "systems/earthdawn4e/templates/items/partials/effects-tab.hbs"}}</div>
                </div>
            </div>
        </div>          
    </body>
</form>
       