<form class="disciplin {{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64"/>
        <h1><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </header>
    <body>
        <div>
            <div>
                <select name="system.discipline" value="{{item.system.discipline}}" >
                    {{#select item.system.discipline}}
                        <option value="discipline">{{localize "earthdawn.d.discipline"}}</option>
                        <option value="path">{{localize "earthdawn.p.path"}}</option>
                        <option value="questor">{{localize "earthdawn.q.questor"}}</option>
                    {{/select}}
                </select>
            </div>
        </div>
        <div class="discipline">
        <div>
            {{#if (eq item.system.discipline "discipline")}}
            <div class="durability">
                <div class="discipline-circle partial-two">
                    <label>{{localize "earthdawn.c.circle"}}</label>
                    <input type="text" name="system.circle" value={{item.system.circle}} data-type="number">
                </div>
                <div class="partial-two">
                    <label>{{localize "earthdawn.d.durability"}}</label>
                    <input type="text" name="system.durability" value={{item.system.durability}} data-type="number">
                </div>
            </div>
            {{/if}}
            <!-- path left -->
            {{#if (eq item.system.discipline "path")}}
            <div class="path-reference">
                <div class="path-circle partial-two">
                    <label>{{localize "earthdawn.r.rank"}}</label>
                    <input type="text" name="system.circle" value={{item.system.circle}} data-type="number">
                </div>
                <div class="partial-two">
                <label>{{localize "earthdawn.d.discipline"}}</label>
                    <div class="disciplin"> 
                        <!--needs adjustment to reference actor data -->
                        <select name="system.relatedDiscipline" value={{item.system.relatedDiscipline}}>
                            {{#select item.system.relatedDiscipline}}
                            <option value="none">{{localize "earthdawn.n.none"}}</option>
                            <option value="Air Sailor">{{localize "earthdawn.d.disciplineAirSailor"}}</option>
                            <option value="Archer">{{localize "earthdawn.d.disciplineArcher"}}</option>
                            <option value="Beastmaster">{{localize "earthdawn.d.disciplineBeastmaster"}}</option>
                            <option value="Cavalryman">{{localize "earthdawn.d.disciplineCavalryman"}}</option>
                            <option value="Elementalist">{{localize "earthdawn.d.disciplineElementalist"}}</option>
                            <option value="Illusionist">{{localize "earthdawn.d.disciplineIllusionist"}}</option>
                            <option value="Nethermancer">{{localize "earthdawn.d.disciplineNethermancer"}}</option>
                            <option value="Scout">{{localize "earthdawn.d.disciplineScout"}}</option>
                            <option value="Sky Raider">{{localize "earthdawn.d.disciplineSkyRaider"}}</option>
                            <option value="Swordmaster">{{localize "earthdawn.d.disciplineSwordmaster"}}</option>
                            <option value="Thief">{{localize "earthdawn.d.disciplineThief"}}</option>
                            <option value="Troubadour">{{localize "earthdawn.d.disciplineTroubadour"}}</option>
                            <option value="Warrior">{{localize "earthdawn.d.disciplineWarrior"}}</option>
                            <option value="Weaponsmith">{{localize "earthdawn.d.disciplineWeaponsmith"}}</option>
                            <option value="Wizard">{{localize "earthdawn.d.disciplineWizard"}}</option>
                            {{/select}}
                        </select>   
                    </div>
                </div>
            </div>

            {{/if}}
            <!-- questor left -->
            {{#if (eq item.system.discipline "questor")}}
            <div class="questor-reference">
                <div class="questor-circle partial-two">
                    <label>{{localize "earthdawn.r.rank"}}</label>
                    <input type="text" name="system.circle" value={{item.system.circle}} data-type="number">
                </div>
                <div class="partial-two">
                    <label></label>
                    
                </div>
            </div>
            {{/if}}
            <!-- navigator left -->
        </div>
        <div>
        <div class="navigatorDisciplin">
            <nav class="sheet-tabs tabs navDisciplin" data-group="primary">
                <ul class="list">
                    <li><a class="tabID navDisciplinList" data-tab="disciplinInformation">{{localize "earthdawn.i.information"}}</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="disciplinValues">{{localize "earthdawn.g.gameInfo"}}</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle1">
                        {{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        1</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle2">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        2</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle3">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        3</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle4">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        4</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle5">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        5</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle6">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        6</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle7">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        7</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle8">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        8</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle9">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        9</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle10">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        10</a></li>
                    {{#unless (eq item.system.discipline "path")}}
                    <li><a class="tabID navDisciplinList" data-tab="circle11">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        11</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle12">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        12</a></li>
                    {{/unless}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <li><a class="tabID navDisciplinList" data-tab="circle13">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        13</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle14">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        14</a></li>
                    <li><a class="tabID navDisciplinList" data-tab="circle15">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                        {{else}}
                        {{localize "earthdawn.r.rank"}}
                        {{/if}}
                        15</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
        <div class="sheet-body nav-discipline-tabBody">
            <!-- information -->
            <div class="tab nav-discipline-tab disciplinInformation" data-group="primary" data-tab="disciplinInformation">
                <div class="flexColumn nav-discipline-tab informationTab">
                    <h3 class="h3-editor">{{localize "earthdawn.i.information"}}</h3>
                    {{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable}}
                </div>
            </div>
            <div class="tab nav-discipline-tab disciplinValues" data-group="primary" data-tab="disciplinValues">
                <div class="flexColumn disciplinValuesTab">
                    <h3 class="h3-editor">{{localize "earthdawn.g.gameInfo"}}</h3>
                    {{editor enrichment.system.descriptionGameInfo target="system.descriptionGameInfo" button=true owner=owner editable=editable}}
                </div>
            </div>


            <!-- Circle 1 -->
            <div class="tab nav-discipline-tab circle1" data-group="primary" data-tab="circle1">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        1</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle1.characteristic" value="{{item.system.circle1.characteristic}}" >
                                {{#select item.system.circle1.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle1.value" value="{{item.system.circle1.value}}" />
                        </div>
                    </div>
                    <!-- Karma ability 
                    <div>
                        <div class="partial-two padding-top-7">
                            <label>{{localize "earthdawn.k.karma"}}</label>
                        </div>
                        <div class="partial-two">
                                <input name="system.karmaAbility1" type="text" value="{{item.system.karmaAbility1}}" data-dtype="String"/>
                        </div>
                    </div>-->
                </div>
                <!-- Talents -->
                <div class="flexColumn circle1Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsNovice"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsFollowers"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle1 target="system.descriptionCircle1" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle1 target="system.descriptionCircle1" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <!-- Circle 2 -->
            <div class="tab nav-discipline-tab circle2" data-group="primary" data-tab="circle2">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        2</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle2.characteristic" value="{{item.system.circle2.characteristic}}" >
                                {{#select item.system.circle2.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle2.value" value="{{item.system.circle2.value}}" />
                        </div>
                    </div>
                    <!-- Karma ability 
                    <div>
                        <div class="partial-two padding-top-7">
                            <label>{{localize "earthdawn.k.karma"}}</label>
                        </div>
                        <div class="partial-two">
                                <input name="system.karmaAbility2" type="text" value="{{item.system.karmaAbility2}}" data-dtype="String"/>
                        </div>
                    </div>-->
                </div>
                <div class="flexColumn circle2Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsNovice"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsFollowers"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle2 target="system.descriptionCircle2" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle2 target="system.descriptionCircle2" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>
            
            <!-- Circle 3 -->
            <div class="tab nav-discipline-tab circle3" data-group="primary" data-tab="circle3">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        3</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle3.characteristic" value="{{item.system.circle3.characteristic}}" >
                                {{#select item.system.circle3.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle3.value" value="{{item.system.circle3.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle3Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsNovice"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsFollowers"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle3 target="system.descriptionCircle3" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle3 target="system.descriptionCircle3" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>	

            <!-- Circle 4 -->
            <div class="tab nav-discipline-tab circle4" data-group="primary" data-tab="circle4">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        4</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle4.characteristic" value="{{item.system.circle4.characteristic}}" >
                                {{#select item.system.circle4.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle4.value" value="{{item.system.circle4.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle4Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsNovice"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsFollowers"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsJourneyman"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionNovice target="system.descriptionNovice" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle4 target="system.descriptionCircle4" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle4 target="system.descriptionCircle4" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>			

            <!-- Circle 5 -->
            <div class="tab nav-discipline-tab circle5" data-group="primary" data-tab="circle5">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        5</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle5.characteristic" value="{{item.system.circle5.characteristic}}" >
                                {{#select item.system.circle5.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle5.value" value="{{item.system.circle5.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle5Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsJourneyman"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsAdherent"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle5 target="system.descriptionCircle5" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle5 target="system.descriptionCircle5" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>	

            <!-- Circle 6 -->
            <div class="tab nav-discipline-tab circle6" data-group="primary" data-tab="circle6">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        6</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle6.characteristic" value="{{item.system.circle6.characteristic}}" >
                                {{#select item.system.circle6.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle6.value" value="{{item.system.circle6.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle6Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsJourneyman"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsAdherent"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle6 target="system.descriptionCircle6" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle6 target="system.descriptionCircle6" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>	

            <!-- Circle 7 -->
            <div class="tab nav-discipline-tab circle7" data-group="primary" data-tab="circle7">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        7</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle7.characteristic" value="{{item.system.circle7.characteristic}}" >
                                {{#select item.system.circle7.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle7.value" value="{{item.system.circle7.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle7Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsJourneyman"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsAdherent"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle7 target="system.descriptionCircle7" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle7 target="system.descriptionCircle7" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>			

            <!-- Circle 8 -->
            <div class="tab nav-discipline-tab circle8" data-group="primary" data-tab="circle8">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        8</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle8.characteristic" value="{{item.system.circle8.characteristic}}" >
                                {{#select item.system.circle8.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle8.value" value="{{item.system.circle8.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle8Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsJourneyman"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsAdherent"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsWarden"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionJourneyman target="system.descriptionJourneyman" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle8 target="system.descriptionCircle8" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle8 target="system.descriptionCircle8" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>	

            <!-- Circle 9 -->
            <div class="tab nav-discipline-tab circle9" data-group="primary" data-tab="circle9">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        9</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle9.characteristic" value="{{item.system.circle9.characteristic}}" >
                                {{#select item.system.circle9.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle9.value" value="{{item.system.circle9.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle9Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsWarden"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsExemplar"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsMaster"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle9 target="system.descriptionCircle9" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle9 target="system.descriptionCircle9" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <!-- Circle 10 -->
            <div class="tab nav-discipline-tab circle10" data-group="primary" data-tab="circle10">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        10</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle10.characteristic" value="{{item.system.circle10.characteristic}}" >
                                {{#select item.system.circle10.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle10.value" value="{{item.system.circle10.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle10Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsWarden"}}
                        {{else}}
                            {{#if (eq item.system.discipline "questor")}}
                            {{localize "earthdawn.d.devotionsExemplar"}}
                            {{else}}
                            {{localize "earthdawn.t.talentOptionsMaster"}}
                            {{/if}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle10 target="system.descriptionCircle10" button=true owner=owner editable=editable}}
                    {{else}}
                        {{#if (eq item.system.discipline "questor")}}
                        <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle10 target="system.descriptionCircle10" button=true owner=owner editable=editable}}
                        {{/if}}
                    {{/if}}
                </div>
            </div>

            <!-- Circle 11 -->
            {{#unless (eq item.system.discipline "path")}}
            <div class="tab nav-discipline-tab circle11" data-group="primary" data-tab="circle11">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        11</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle11.characteristic" value="{{item.system.circle11.characteristic}}" >
                                {{#select item.system.circle11.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle11.value" value="{{item.system.circle11.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle11Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsWarden"}}
                        {{else}}
                        {{localize "earthdawn.d.devotionsExemplar"}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle11 target="system.descriptionCircle11" button=true owner=owner editable=editable}}
                    {{else}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                    {{editor enrichment.system.descriptionCircle11 target="system.descriptionCircle11" button=true owner=owner editable=editable}}
                    {{/if}}
                </div>
            </div>
            {{/unless}}

            <!-- Circle 12 -->
            {{#unless (eq item.system.discipline "path")}}
            <div class="tab nav-discipline-tab circle12" data-group="primary" data-tab="circle12">
                <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.c.circle"}}
                    {{else}}
                        {{localize "earthdawn.r.rank"}}
                    {{/if}}
                        12</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle12.characteristic" value="{{item.system.circle12.characteristic}}" >
                                {{#select item.system.circle12.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle12.value" value="{{item.system.circle12.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle12Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{#if (eq item.system.discipline "discipline")}}
                        {{localize "earthdawn.t.talentOptionsWarden"}}
                        {{else}}
                        {{localize "earthdawn.d.devotionsExemplar"}}
                        {{/if}}
                        </h3>
                    {{editor enrichment.system.descriptionWarden target="system.descriptionWarden" button=true owner=owner editable=editable}}
                    {{#if (eq item.system.discipline "discipline")}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle12 target="system.descriptionCircle12" button=true owner=owner editable=editable}}
                    {{else}}
                    <hr class="line-simple">
                        <h3 class="h3-editor">{{localize "earthdawn.d.devotionAbilities"}}</h3>
                        {{editor enrichment.system.descriptionCircle12 target="system.descriptionCircle12" button=true owner=owner editable=editable}}
                    {{/if}}
                </div>
            </div>
            {{/unless}}

            <!-- Circle 13 -->
            {{#if (eq item.system.discipline "discipline")}}
            <div class="tab nav-discipline-tab circle13" data-group="primary" data-tab="circle13">
                <h3 class="h3-editor">{{localize "earthdawn.c.circle"}} 13</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle13.characteristic" value="{{item.system.circle13.characteristic}}" >
                                {{#select item.system.circle13.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle13.value" value="{{item.system.circle13.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle13Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.t.talentOptionsMaster"}}</h3>
                    {{editor enrichment.system.descriptionMaster target="system.descriptionMaster" button=true owner=owner editable=editable}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle13 target="system.descriptionCircle13" button=true owner=owner editable=editable}}
                </div>
            </div>  
            {{/if}}  

            <!-- Circle 14 -->
            {{#if (eq item.system.discipline "discipline")}}
            <div class="tab nav-discipline-tab circle14" data-group="primary" data-tab="circle14">
                <h3 class="h3-editor">{{localize "earthdawn.c.circle"}} 14</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle14.characteristic" value="{{item.system.circle14.characteristic}}" >
                                {{#select item.system.circle14.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle14.value" value="{{item.system.circle14.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle14Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.t.talentOptionsMaster"}}</h3>
                    {{editor enrichment.system.descriptionMaster target="system.descriptionMaster" button=true owner=owner editable=editable}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle14 target="system.descriptionCircle14" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}

            <!-- Circle 15 -->
            {{#if (eq item.system.discipline "discipline")}}
            <div class="tab nav-discipline-tab circle15" data-group="primary" data-tab="circle15">
                <h3 class="h3-editor">{{localize "earthdawn.c.circle"}} 15</h3>
                <div>
                    <div>
                        <div class="partial-three padding-top-7">
                            <label>{{localize "earthdawn.c.characteristicBonus"}}</label>
                        </div>
                        <div class="partial-three">
                            <select class="inherent-width" name="system.circle15.characteristic" value="{{item.system.circle15.characteristic}}" >
                                {{#select item.system.circle15.characteristic}}
                                    {{> "systems/earthdawn4e/templates/items/partials/modifier-list.hbs"}}
                                {{/select}}
                            </select>
                        </div>
                        <div class="partial-three">
                            <input type="number" name="system.circle15.value" value="{{item.system.circle15.value}}" />
                        </div>
                    </div>
                </div>
                <div class="flexColumn circle15Tab">
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.t.talentOptionsMaster"}}</h3>
                    {{editor enrichment.system.descriptionMaster target="system.descriptionMaster" button=true owner=owner editable=editable}}
                    <hr class="line-simple">
                    <h3 class="h3-editor">{{localize "earthdawn.d.disciplineTalent"}}</h3>
                    {{editor enrichment.system.descriptionCircle15 target="system.descriptionCircle15" button=true owner=owner editable=editable}}
                </div>
            </div>
            {{/if}}
        </div>
        </div>
        </div>
    </body>
</form>

