<label>{{localize "Attribute"}}</label>
<select name="system.attribute" value='{{item.system.attribute}}'>
    {{#select item.system.attribute}}
        <option value="">-{{localize "earthdawn.n.none"}}-</option>
        <option value="dexterityStep">{{localize "earthdawn.d.dexterity" }}</option>
        <option value="strengthStep">{{localize "earthdawn.s.strength"  }}</option>
        <option value="toughnessStep">{{localize "earthdawn.t.toughness" }}</option>
        <option value="perceptionStep">{{localize "earthdawn.p.perception"}}</option>
        <option value="willpowerStep">{{localize "earthdawn.w.willpower" }}</option>
        <option value="charismaStep">{{localize "earthdawn.c.charisma"  }}</option>
        <option value="initiativeStep">{{localize "earthdawn.i.initiative"}}</option>
    {{/select}}
</select>
