<header class="sheet-header flexrow">
	<img class="profile" src="{{item.img}}" title="{{item.name}}" data-edit="img"/>

	<div class="header-details flexrow">
		<h1 class="charname">
			<input name="name" type="text" value="{{item.name}}"/>
		</h1>

		<div class="item-subtitle">
			<h4 class="item-type">{{localize item.type}}</h4>
		</div>
	</div>
</header>
