<div class="grid grid-2col">
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.e.effect"}}</label>
        <textarea class="grid-span-3" name="system.effect" cols="30" rows="3">{{item.system.effect}}</textarea>
    </div>
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.e.effectArea"}}</label>
        <textarea class="grid-span-3" name="system.areaofeffect" cols="30" rows="3">{{item.system.areaofeffect}}</textarea>
    </div>
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.t.threadsAdditional"}}</label>
        <textarea class="grid-span-3" name="system.extrathreads" cols="30" rows="3">{{item.system.extrathreads}}</textarea>
    </div>
    <div class="grid grid-4col grid-span-2">
        <label class="spell-label">{{localize "earthdawn.s.successAdd"}}</label>
        <textarea class="grid-span-3" name="system.extrasuccesses" cols="30" rows="3">{{item.system.extrasuccesses}}</textarea>
    </div>
</div>
