@font-face {
  font-family: 'ArnoPro Bold';
  src: url('../fonts/ArnoPro-Bold.otf');
  font-weight: bold;
}
@font-face {
  font-family: 'ArnoPro BoldItalic';
  src: url('../fonts/ArnoPro-BoldItalic.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'ArnoPro Italic';
  src: url('../fonts/ArnoPro-Italic.otf');
  font-style: italic;
}

@font-face {
  font-family: 'ArnoPro Regular';
  src: url('../fonts/ArnoPro-Regular.otf');
  font-style: normal;
}

@font-face {
  font-family: 'WarhorseDIY';
  src: url('../fonts/Warhorse Deco BB diy Regular.otf');
  font-style: normal;
}

//starting letter
@font-face {
  font-family: 'OldLondon';
  src: url('../fonts/Olondon_.otf');
  font-style: normal;
}

.ArnoProRegular () {
  font-family: 'ArnoPro Regular', serif;
}

.ArnoProBold () {
  font-family: 'ArnoPro Bold', serif;
}

.ArnoProItalic () {
  font-family: 'ArnoPro Italic', serif;
}

.ArnoProBoldItalic () {
  font-family: 'ArnoPro BoldItalic', serif;
}

.WarhorseDIY () {
  font-family: 'WarhorseDIY', serif;
}

.OldLondon () {
  font-family: 'OldLondon', serif;
}
