.earthdawn.sheet.talent {
    form {
        display: flex;
        flex-direction: column;
        font-size: 12px;
    }
    .flexColumn {
        height: 100%;
        display: flex;
        flex-direction: column;
        padding-left: 10px;
        padding-right: 10px;
        .editor {
            height: 100%;
        }
    }
} 
