<form class="taka-theme item flexcol" autocomplete="off">

	<!-- SHEET HEADER -->
	{{> "systems/earthdawn4e/templates/taka-theme/items/partials/item-sheet-header.hbs"}}

	<!-- SHEET NAVIGATION -->
	{{> 'systems/earthdawn4e/templates/taka-theme/items/partials/navs/basic-nav.hbs'}}

	<!-- SHEET BODY -->
	<section class="sheet-body">
		<!-- SIDEBAR -->
		<div class="tab flexrow active" data-group="primary" data-tab="description">
			{{> 'systems/earthdawn4e/templates/taka-theme/items/partials/sidebars/spellmatrix-sidebar.hbs'}}
			{{editor enrichment.system.description target="system.description" button=true owner=owner editable=editable engine="prosemirror"}}
		</div>
	</section>

</form>
