<select name="system.devotionDie" value='{{actor.system.devotionDie}}'>
	{{#select actor.system.devotion.devotionDie}}
		<option value="d4">{{localize "earthdawn.d.d"}}4</option>
		<option value="d6">{{localize "earthdawn.d.d"}}6</option>
		<option value="d8">{{localize "earthdawn.d.d"}}8</option>
	{{/select}}
</select>
