<div class="threadItemsTab">
    <div>
        <table>
            <th>
                {{localize "earthdawn.m.maxRanks"}}
                <a class="change-thread-number" data-type="createThreads"
				   title="{{localize "earthdawn.m.maxRanksCreate"}}">
                    <I class="fas fa-magic"></I>
                </a>   
            </th>
            <th>{{localize "earthdawn.d.defenseMagical"}}</th>
            <th>{{localize "earthdawn.t.tier"}}</th>
            <tr>
                <td>
                    <input class="immediate-update-threads" type="text" name="system.numberthreads" value="{{item.system.numberthreads}}" data-dtype="Number"/>
                </td>
                <td>
                    <input name="system.itemFirstDefenseMagical" type="text" value="{{item.system.itemFirstDefenseMagical}}" data-dtype="String"/>
                </td>
                <td>
                    <select name="system.threadItemTier" value="{{item.system.threadItemTier}}">
                        {{#select item.system.threadItemTier}}
                        <option value="tierNovice">{{localize "earthdawn.t.tierNovice"}}</option>
                        <option value="tierJourneyman">{{localize "earthdawn.t.tierJourneyman"}}</option>
                        <option value="tierWarden">{{localize "earthdawn.t.tierWarden"}}</option>
                        <option value="tierMaster">{{localize "earthdawn.t.tierMaster"}}</option>
                        {{/select}}
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <!-- Threads are created in thread-item-characteristics.hbs -->
    <div>
        {{#each item.system.threads}}{{>"systems/earthdawn4e/templates/items/partials/thread-item-characteristics.hbs" isGM=../isGM }}{{/each}}
    </div>
</div>
