{{!-- {{#if (eq item.system.isthread true)}}
	<div class="static">
		<!-- Navigator -->
		<hr class="line-simple">
		<div class="thread-nav">
			<h3 class="centered">{{localize "earthdawn.n.navigator"}}</h3>
			<nav class="tabs centered" data-group="primary">
				<a data-tab="information">{{localize "earthdawn.i.information"}}</a>
				<a data-tab="threadInformation">{{localize "earthdawn.t.threadInformation"}}</a>
			</nav>
		</div>
		<hr class="line-simple">
		<!-- Sheet Body -->
		<div class="sheet-body">
			<!-- Thread Item information -->
			<div class="tab" data-group="primary" data-tab="information">
			{{> "systems/earthdawn4e/templates/items/partials/item-description-tab.hbs"}}
			</div>
			<!-- see thread-item-tab.hbs -->
			<div class="tab" data-group="primary" data-tab="threadInformation">
				<div>{{> "systems/earthdawn4e/templates/items/partials/thread-items-tab.hbs"}}</div>
			</div>
		</div>
	</div>
{{else}}
<!-- non-Thread Item Information-->
	<div class="static flexColumn">
		<div class="flexColumn">
			{{> "systems/earthdawn4e/templates/items/partials/item-description-tab.hbs"}}
		</div>
	</div>
{{/if}}
 --}}



	<div class="static">
		<!-- Navigator -->
		<hr class="line-simple">
		<div class="thread-nav">
			<h3 class="centered">{{localize "earthdawn.n.navigator"}}</h3>
			<nav class="tabs centered" data-group="primary">
				<a data-tab="information">{{localize "earthdawn.i.information"}}</a>
				{{#if (eq item.system.isthread true)}}
				<a data-tab="threadInformation">{{localize "earthdawn.t.threadInformation"}}</a>
				{{/if}}
				<a data-tab="effects">{{localize "earthdawn.e.effects"}}</a>
			</nav>
		</div>
		<hr class="line-simple">
		<!-- Sheet Body -->
		<div class="sheet-body">
			<!-- Thread Item information -->
			<div class="tab" data-group="primary" data-tab="information">
			{{> "systems/earthdawn4e/templates/items/partials/item-description-tab.hbs"}}
			</div>
			{{#if (eq item.system.isthread true)}}
			<!-- see thread-item-tab.hbs -->
			<div class="tab" data-group="primary" data-tab="threadInformation">
				<div>{{> "systems/earthdawn4e/templates/items/partials/thread-items-tab.hbs"}}</div>
			</div>
			{{/if}}			
			<!-- effects -->
			<div class="tab tab-effects" data-group="primary" data-tab="effects">
				<div>{{> "systems/earthdawn4e/templates/items/partials/effects-tab.hbs"}}</div>
			</div>
			
		</div>
	</div>


