<div
  class="skill-card item-card item-draggable skill-info item-name border"
  data-item-id="{{_id}}"
>
  <span class="oneLine text-align-middle">
    <a
      class="talent-roll partial-three text-align-middle"
      title="Click to Roll skill"
    >
      <img
        src="{{img}}"
        data-edit="img"
        title="{{name}}"
        height="25"
        width="25"
      />
      &nbsp;{{name}}
    </a>
    <label class="partial-three text-align-middle">
      {{localize "earthdawn.a.action"}}:
      {{system.action}}
    </label>
    <label class="partial-three text-align-middle">
      {{localize "earthdawn.r.rank"}}:
      {{system.ranks}}
    </label>
    <a class="itemControlGroup">
      <a class="item-control item-display" title="Display Item">
        <i class="fas fa-comments"></i>
      </a>
      <a class="item-control item-delete" title="Delete Item">
        <i class="fas fa-trash"></i>
      </a>
      <a class="item-control item-edit" title="Edit Item">
        <i class="fas fa-edit"></i>
      </a>
      <a class="item-control item-upgrade" title="{{localize 'earthdawn.u.upgrade'}}">
            <i class="fas fa-arrow-circle-up"></i>
        </a>
        <div></div>
        <a class="item-control item-downgrade" title="{{localize 'earthdawn.d.downgrade'}}">
            <i class="fas fa-arrow-circle-down"></i>
        </a>
    </a>
  </span>
</div>
